.vendorsSection{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100vw;
    background-color:white;
    padding-top: 4rem;
}
.vendorsSection h4{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
    font-weight: bold;
    color: #505052;
    letter-spacing: .7rem;
    background-color: white;
    text-align: center;
}