*{
  margin: 0 auto;
  font-family: "times";
}

/* Header */

.header{
  display: flex;
  flex-direction: column;
  background-color:white; 
  position: fixed;
  width: 100vw;
  z-index: 1;
  top: 0;
}
.title{
  display: flex;
  flex-direction: column;
}


/* NAVBARRRRRRRRRRRRRR */


.nav{
  font-size: 14px;
  font-weight: bold;
  background-color: #1D2D3B;
  color: white;
  width: 100vw;
  height: 3rem;
  overflow: hidden;
}
.nav ul{
  list-style: none;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  padding: 0;
}
.nav a{
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  width:180%;
  height:180%;
  border-right: 4px solid white;
}


.nav li{
  text-align: center;
  transform:rotate(-5deg)
}
/* NAV COLORS and LINK DETAILS */
.transform{
  transform:rotate(5deg);
  overflow: hidden;

}
.departments{
  background-color: #324660;
  color: white;

}
.services{
  background-color: #778197;
  color: white;
}
.brands{
  background-color: #BBBFCC;
  color: black;
}
.storeInformation{
  background-color: #E2E2E8;
  color: black;
}
.contact{
  background-color: #F5F5F6;
  color: black;
}



/* CARASOULLLLLLLLLLLLL */

img { 
  width: 100vw;
  height: 400px;
  vertical-align: middle;
  border: 0;
  object-fit: cover;
 }

 /* Information page */
.parrallax{
  height:600px;
}

.info{
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

 .localImage{
   margin-top: 10rem;
   background-image: url('https://imgur.com/fYKGg7Y.jpg');
   height: 600px;
   width: 100%;
   background-size: contain;
   background-repeat: no-repeat;
   position: fixed;
   background-position-x:40%; 
   z-index: -1;

 }

 .info h4{
   /* font-weight: bold; */
 }
 .mission{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem 10rem;
  font-size: 1.5rem;

}
.missionback{
  background-color: white;
  height: 100%;
  padding-top: 2rem;
}
 /* Footer */
.footer{
  text-align: center;
  opacity: .9;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.7);
  color: white;
}
.footer p{
  margin: 1rem 0;
}
hr{
  align-self: center;
    display: block;
    width: 40vw;
    /* border-top: 3px solid #001E3D; */
}

/* Media */

@media only screen
and (max-device-width : 600px) {
  .header{
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
  }
  .parrallax{
    height: 50vh;
  }
  .localImage{
    position: relative;
    height: 50vh;
    margin: 0;
  }
  .header p{
    width: auto;
  }

  .footer ul {
  display: flex;
  flex-direction: column;
  }
  .nav ul{
    display: flex;
    flex-direction: column;
  }
  .nav{
    height: 20rem;
  }
  .mission{
    margin: 1rem 4rem;
    font-size: 18px;
  }
  .localImage{
  background-position-x: 55%;
  }
  li{
    transform:rotate(0deg)
  }
  .transform{
    transform:rotate(0deg);
    overflow: hidden;
  }
  a{
    width: auto;
    margin: 0;
    font-size: 18px;
  }

}

